{% extends 'patient/layout.html' %} {% load static %} {% block body %}
<form
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 32px 0px;
    border-radius: 8px;
    background-color: white;
  "
  action="{% url 'patient:index' %}"
  method="POST"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <table
    class="table"
    style="display: flex; justify-content: center; margin-left: 80px"
  >
    {{ form.as_table }}
  </table>
  <input style="width: 160px" class="btn btn-primary" type="submit" />
</form>
{% if showDownload %}
<a href="{% static 'patient/'|add:fname %}" download="{{ fname }}">Download</a>
{% endif %} {% endblock %}
